@media (max-width: 1439px){ /* Стилизация промежутка от 992 до 1200 */
  .sidepanel{
    display: none;
  }
}

@media (max-width: 1200px){ /* Стилизация промежутка от 992 до 1200 */
     //адаптация для 993

  .container{ 
    max-width: 960px;
  }
  .about{
    &__wrapper{
      grid-template-columns: 400px 520px;
      column-gap: 40px;
    }
    &__skills{
      column-gap: 20px;
      grid-template: repeat(2,minmax(115px,auto)) / repeat(2,250px);
      &-item{
        grid-template-columns: 40px 195px;
        column-gap: 15px;
      }
    }
  }
  .resume{
    &__wrapper{
    grid-template-columns: 355px 355px;
      column-gap: 140px;
          padding: 50px 55px 0 55px;
   }
  }
  .stack{
    &__wrapper{
      padding-top: 60px;
      display: grid;
      grid-template-columns: repeat(3,minmax(270px,auto));
      column-gap: 13px;
      row-gap: 13px;
    }
    &__ratings{
      grid-template-columns: repeat(3,290px);
      &-line{
        width: 290px;
      }
    }
  }
}

@media (max-width: 992px){
    //адаптация для 769

  .container{ 
    max-width: 720px;
  }
  .title{
    &_fz36{
      font-size: 30px;
    }
  }
  .about{
    &__wrapper{
      grid-template-columns: 300px 380px;
    }
    &__skills{
      grid-template-columns: 380px;
      grid-auto-rows: minmax(115px,auto);
      &-item{
        grid-template-columns: 40px 320px;
        column-gap: 20px;
      }
    }
  }
  .resume{
    &__wrapper{
    grid-template-columns: 255px 255px;
    column-gap: 110px;
    padding: 50px 55px 0 55px;
   }
  }
  .stack{
    &__wrapper{
 
      grid-template-columns: repeat(2,minmax(270px,auto));
      justify-content: space-around;
      
    }
    &__ratings{
      justify-content: space-around;

      grid-template-columns: repeat(2,290px);
      grid-template-rows: repeat(3,70px);

      row-gap: 20px;
      &-line{
        width: 290px;
      }
    }
}
}

@media (max-width: 768px) {
  .container{ 
    max-width: 540px;
  }
  .title{
    line-height: 39px;
    &__fz48{
      font-size: 28px;
    }
  }
  .promo{
    &__title{
      line-height: 39px;
      width: 300px;
    }
  }
  .about{
    padding-top: 40px;
    &__wrapper{
      grid-template: 400px auto auto / 1fr;
    }
    &__photo{
      grid-row: unset;
      width: 100%;
      object-fit: cover;
    }
    &__skills{
      grid-template-columns: repeat(2,260px);
      &-item{
        grid-template-columns: 40px 200px;
        column-gap: 20px;
      }
    } 
  }
  .resume{
    &__wrapper{
    grid-template-columns: 225px 225px;
    column-gap: 60px;
    padding: 50px 15px 0 15px;
   }
    &__item{
      &-location{
        margin-top: 5px;
      }
      &-head{
        padding: 30px 0 0 95px;
      }
  }
  .title {
    line-height: 27px;
  }
  &__column{
  
    ul{
      li{
        &:after{
          content: ' ';
          width: 1px;
          height: calc(100% + 31px);
          position: absolute;
          top: -15px;
          background-color: #000;
        }
      }
    }
  }
  }
    .stack{
      &__item{
        &-descr{
          font-size: 11px;
        }
  }
    &__wrapper{
 
      grid-template-columns: repeat(2,minmax(270px,auto));
      justify-content: space-around;
      
    }
    &__ratings{
      justify-content: space-around;

      grid-template-columns: repeat(2,250px);
      grid-template-rows: repeat(3,70px);

      row-gap: 40px;
      &-line{
        width: 250px;
      }
    }
}
}

@media (max-width: 576px){
  .container{ 
    width: 100%;
    padding: 0 10px;
  }
  .title{
    &_fz48{
      font-size: 26px;

    }
    &_fz36{
      font-size: 24px;
    }
  }
  .hamburger{
    right: 28px;
  }
  .menu {
    &__block{
      width: 250px;
      padding-left: 20px;
    }
  }
  .promo{
    &__btns{
      margin-top: 32px;
    }
  }
  .about{

    &__wrapper{
      grid-template: 340px auto auto / 1fr;
    }
    &__skills{
      grid-template-columns: 1fr;

    }
  }
  .resume{
    &__wrapper{
    grid-template-columns: 1fr;
    column-gap: 60px;
    row-gap: 30px;
    padding: 50px 15px 0 15px;
   }
    &__item{
      &-location{
        margin-top: 5px;
      }
      &-head{
        padding: 30px 0 0 95px;
      }
  }
  .title {
    line-height: 27px;
  }
  &__column{
      
    ul{
      li{
        &:after{
          content: ' ';
          width: 1px;
          height: calc(100% + 31px);
          position: absolute;
          top: -15px;
          background-color: #000;
        }
      }
    }
    &-title{
      &:before{
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: $main-color;
        border-radius: 100%;
        left: -7px;
        top: 13px;
        transform: translateY(-50%);
      }
    }
  }
}
.stack{
  &__item{
    &-descr{
      font-size: 11px;
    }
  }
    &__wrapper{
 
      grid-template-columns: repeat(1,minmax(270px,auto));
      justify-content: space-around;
      
    }
    &__ratings{
      justify-content: space-around;

      grid-template-columns: repeat(1,250px);
      grid-template-rows: repeat(6,70px);

      row-gap: 40px;
      &-line{
        width: 250px;
      }
    }
}
}